<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top">
    <a class="navbar-brand" href="#">
		<img src="//i.planchon.org/logo.png" height="30" class="d-inline-block align-top" alt="a Bug's Land"> DNS Manager
	</a>
    <a class="nav-link" href="#"><i class="nav-text fa fa-15x fa-home"></i><span class="sr-only">(current)</span></a>
    <ol class="breadcrumb bg-inverse">
        <li class="breadcrumb-item">
            <div class="dropdown">
                <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Zones
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a *ngFor="let zone of zones" class="dropdown-item" href="#">{{zone.name}}</a>
                </div>
            </div>
        </li>
    </ol>
</nav>

<div class="container">
    <app-error [error]="error"></app-error>
    <router-outlet></router-outlet>
</div>