<h3><span *ngIf="entry">Modification</span><span *ngIf="!entry">Ajout</span></h3>
<form [formGroup]="myForm">
	<div class="form-group">
		<label for="name" class="sr-only">Nom</label>
		<input type="text" id="name" class="form-control" placeholder="Entry's name" formControlName="name">
	</div>
	<div class="form-group">
		<label for="ttl" class="sr-only">Durée de vie (TTL)</label>
		<input type="text" id="ttl" class="form-control" placeholder="Entry's TTL" formControlName="ttl">
	</div>
	<div class="form-group">
		<label for="type" class="sr-only">Type</label>
		<input type="text" id="type" class="form-control" placeholder="Entry's type" formControlName="type" list="dnstypes">
		<datalist id="dnstypes">
			<option *ngFor="let v of zoneDNSType" value="{{v.name}}">
		</datalist>
	</div>
	<div class="form-group">
		<label for="data" class="sr-only">Donnée</label>
		<input type="text" id="data" class="form-control" placeholder="Entry's data" formControlName="data">
	</div>
<button type="submit" [disabled]="!myForm.valid">Submit</button>
</form><!--
vim: set tabstop=2 noexpandtab binary noeol: -->