/*.toUC
{
	text-transform: uppercase;
	&::placeholder
	{
		text-transform: initial;
	}
	//&:placeholder-shown {
		//border: 1px solid red; /* Red border only if the input is empty */
	//}
//}
ul.form-error
{
	margin-top: .25rem;
	font-size: .875rem;
	color: #dc3545;
	padding-left: calc(0.75rem + 1px);
	list-style-type: none;
	display: none;
}

input.ng-dirty.ng-valid
{
	border: 1px solid #28a745;
	& + ul.form-error
	{
		display: none;
	}
}
input.ng-dirty.ng-invalid
{
	border: 1px solid #dc3543;
	& + ul.form-error
	{
		display: block;
	}
}


