<app-error [error]="error"></app-error>

<div class="container" *ngIf="zone">
<h1>{{zone.name}}&nbsp;<span>
	<span *ngIf="zone.read && !zone.write" class="badge badge-info badge-pill">read</span>
	<span *ngIf="zone.write" class="badge badge-warning badge-pill">write</span>
</span></h1>

<div class="container">
  <div class="row">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 col-12">
			<div class="container">
  			<div class="row">
    			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">Primary Master</div>
					<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">{{zone.master}}</div>
				</div>
  			<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">Responsible</div>
					<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">{{zone.responsible}}</div>
				</div>
  			<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">Serial</div>
					<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">{{zone.serial}}</div>
				</div>
			</div>
		</div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
			<div class="container">
  			<div class="row">
    			<div class="col">Refresh</div>
					<div class="col text-right" data-toggle="tooltip" data-placement="bottom" title="{{zone.refresh | readableTime}}">{{zone.refresh}}</div>
				</div>
  			<div class="row">
					<div class="col">Retry</div>
					<div class="col text-right" data-toggle="tooltip" data-placement="bottom" title="{{zone.retry | readableTime}}">{{zone.retry}}</div>
				</div>
  			<div class="row">
					<div class="col">Expire</div>
					<div class="col text-right" data-toggle="tooltip" data-placement="bottom" title="{{zone.expire | readableTime}}">{{zone.expire}}</div>
				</div>
  			<div class="row">
					<div class="col">Minimum</div>
					<div class="col text-right" data-toggle="tooltip" data-placement="bottom" title="{{zone.minimum | readableTime}}">{{zone.minimum}}</div>
				</div>
			</div>
		</div>
  </div>
</div>


<!--<form id="rr-add">-->
	<table id="records" class="table table-hover">
		<tr>
			<th>Name</th>
			<th>TTL</th>
			<th>Type</th>
			<th>Data</th>
			<!--<th>Action</th>-->
		</tr>
		<tr *ngFor="let entry of zone.entries">
			<td>{{entry.name}}</td>
			<td>{{entry.ttl}}</td>
			<td>{{entry.type}}</td>
			<td>{{entry.data}}</td>
			<!--<td></td>-->
		</tr>
	</table>
<!--</form>-->



</div><!--
vim: set tabstop=2 noexpandtab binary noeol: -->