h1 span.badge
{
	font-size: 0.3em;
	vertical-align: super;
	position: relative;
	top: -0.3em;
}
img.superkey
{
	height: 0.4em;
	vertical-align: super;
}
.popover-divider
{
	//font-size: 0.9em;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	padding: 4px 14px 8px 14px;
	margin-top: 4px;
	margin-bottom: 9px;
}
span.addicon
{
	position: relative;
}
span.addicon > i
{
	position:absolute;
	left: 1rem;
	top: 1.75rem; /* Firefox buggy version
	top: 0.75rem;*/
	color: #495057;
	font-size: 1rem;
}
span.addicon + input.form-control
{
	padding-left: 2.25rem;
}
.btn-xs
{
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
}
table
{
	margin-top:2em;
}
table.align-middle tr td
{
	vertical-align: middle;
}
