<app-error [error]="error"></app-error>

<div class="container" *ngIf="zone">
<h1>{{zone.name}}&nbsp;<span>
	<span *ngIf="zone.read && !zone.write" class="badge badge-info badge-pill">read</span>
	<span *ngIf="zone.write" class="badge badge-warning badge-pill">write</span>
	<ng-template #popContent>
		<div class="row">
			<div class="col">Key&nbsp;Signing&nbsp;Key</div>
			<div class="col">
				<div class="container">
					<div class="row" *ngFor="let ksk of zone.secured.ksk">
						<div class="col text-right">{{ksk}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">Zone&nbsp;Signing&nbsp;Key</div>
			<div class="col">
				<div class="container">
					<div class="row" *ngFor="let zsk of zone.secured.zsk">
						<div class="col text-right">{{zsk}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row popover-divider">
			NSEC3 Parameter
		</div>
		<div class="row">
			<div class="col">Salt</div>
			<div class="col text-right">{{zone.secured.nsec3param.salt}}</div>
		</div>
		<div class="row">
			<div class="col">Iterations</div>
			<div class="col text-right">{{zone.secured.nsec3param.iterations}}</div>
		</div>
  </ng-template>
	<span *ngIf="zone.secured" placement="right" [ngbPopover]="popContent" triggers="mouseenter:mouseleave" popoverTitle="Secure zone">
		<img class="superkey" src="assets/key.svg">
	</span>
</span></h1>

<div class="container">
	<div class="row">
		<div class="col-xl-5 col-lg-6 col-md-8 col-sm-12 col-12">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" i18n="@@PrimaryMaster">Primary Master</div>
					<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">{{zone.master}}</div>
				</div>
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" i18n="@@Responsible">Responsible</div>
					<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">{{zone.responsible}}</div>
				</div>
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" i18n="@@Serial">Serial</div>
					<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">{{zone.serial}}</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
			<div class="container">
				<div class="row">
					<div class="col" i18n="@@Refresh">Refresh</div>
					<div class="col text-right" placement="bottom" ngbTooltip="{{zone.refresh | readableTime}}">{{zone.refresh}}</div>
				</div>
				<div class="row">
					<div class="col" i18n="@@Retry">Retry</div>
					<div class="col text-right" placement="bottom" ngbTooltip="{{zone.retry | readableTime}}">{{zone.retry}}</div>
				</div>
				<div class="row">
					<div class="col" i18n="@@Expire">Expire</div>
					<div class="col text-right" placement="bottom" ngbTooltip="{{zone.expire | readableTime}}">{{zone.expire}}</div>
				</div>
				<div class="row">
					<div class="col" i18n="@@Minimum">Minimum</div>
					<div class="col text-right" placement="bottom" ngbTooltip="{{zone.minimum | readableTime}}">{{zone.minimum}}</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--<form id="rr-add">-->
<form novalidate [formGroup]="myForm">
	<table id="records" class="table table-sm table-striped table-hover align-middle">
		<thead class="thead-inverse">
			<tr>
				<th i18n="@@Name">Name</th>
				<th i18n="@@TTL">TTL</th>
				<th i18n="@@Type">Type</th>
				<th i18n="@@Data">Data</th>
				<th i18n="@@Action">Action</th>
			</tr>
			<tr>
				<td>
      		<span class="addicon"><i class="fa fa-filter"></i></span>
					<input type="text" class="form-control" placeholder="Name's filter" aria-label="Name's filter" formControlName="filter_name">
				</td>
				<td>
					<span class="addicon"><i class="fa fa-filter"></i></span>
					<input type="text" class="form-control" placeholder="TTL's filter" aria-label="TTL's filter" formControlName="filter_ttl">
				</td>
				<td>
					<span class="addicon"><i class="fa fa-filter"></i></span>
					<input type="text" class="form-control" placeholder="Type's filter" aria-label="Type's filter" formControlName="filter_type">
				</td>
				<td>
					<span class="addicon"><i class="fa fa-filter"></i></span>
					<input type="text" class="form-control" placeholder="Data's filter" aria-label="Data's filter" formControlName="filter_data">
				</td>
				<td class="text-center">
					<button type="buctton" class="btn btn-xs btn-outline-success" formControlName="filter_data"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let entry of zone.entries | filterZoneEntry:myForm.get('filter_name').value:myForm.get('filter_ttl').value:myForm.get('filter_type').value:myForm.get('filter_data').value">
			<!--<tr *ngFor="let entry of zone.entries">-->
				<td>{{entry.name}}</td>
				<td><span placement="bottom" ngbTooltip="{{entry.ttl | readableTime}}">{{entry.ttl}}</span></td>
				<td>{{entry.type}}</td>
				<td>{{entry.data}}</td>
				<td class="text-center">
					<button type="button" class="btn btn-xs btn-outline-warning" formControlName="filter_data"><i class="fa fa-pencil" aria-hidden="true"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</form>



</div><!--
vim: set tabstop=2 noexpandtab binary noeol: -->