<nav class="navbar navbar-expand-sm navbar-dark bg-darker sticky-top">
    <a class="navbar-brand" href="/" [routerLink]="'/'">
		<img src="//i.planchon.org/logo.png" height="30" class="d-inline-block align-top" alt="a Bug's Land"> DNS Manager
	</a>
    <ol class="breadcrumb bg-darker mr-auto">
        <li class="breadcrumb-item">
			<a href="/" [routerLink]="'/'"><i class="nav-text fa fa-15x fa-home"></i><span class="sr-only">(current)</span></a>
        </li>
        <li class="breadcrumb-item">
			<a href="/zones" [routerLink]="'/zones'">Zones</a>
			<!--
            <div ngbDropdown class="d-inline">
                <button class="btn btn-link btn-sm" type="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                    Zones
                </button>
                <div aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/zones']">Zones</a>
                </div>
            </div>
			-->
        </li>
        <li *ngIf="currentZoneName" class="breadcrumb-item">
            <div class="d-inline dropdown" ngbDropdown>
                <a id="dropdownMenuButton" [routerLink]="['/zones', currentZoneName]" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                    {{currentZoneName}}
                </a>
                <div class="dropdown-menu bg-darker" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                    <a *ngFor="let zone of zones" class="dropdown-item" [routerLink]="['/zones', zone.name]">{{zone.name}}</a>
                </div>
            </div>
		</li>
		<li class="breadcrumb-item breadcrumb-text" *ngIf="loading"><span class="fa fa-spinner fa-pulse fa-fw"></span></li>
    </ol>
	<div><a class="nav-text" href="/docs/" [routerLink]="'/docs/'"><span class="fa fa-question-circle"></span></a></div>
</nav>

<div [class.container]="router.url != '/docs/'" [class.container-fluid]="router.url == '/docs/'" [class.nomargin]="router.url == '/docs/'">
    <app-error [error]="error"></app-error>
    <router-outlet></router-outlet>
</div>
