/** SCSS **/
.fa-15x 
{
	font-size: 1.5em;
}

.bg-darker
{
	background-color: #292b2c;
}

div.swagger-ui .info .title small pre
{
    line-height: 1em;
    font-size: 10px;
    background-color: transparent;
    border: none;
}

div.swagger-ui .col
{
    width: auto;
}
